
body{
    background-color: teal;
}
.header{
   display: inline-block;
   width: 500px;
   margin : 0px 0px 0px 0px ;
    background-color: white;
    color : rgb(29, 29, 38);
    text-align:center;
}
.img{
    display: block;
    margin: 0 auto;
    object-position: top;
    object-fit: cover;
    border:1px solid rgb(29, 29, 38);
    border-radius:100%;
    height: 150px;
    width: 150px;

}

.bg{
    padding: 0;
    margin:0;
    width: 500px;
    border-radius: 10px;
background-color: rgb(29, 29, 38);
}
.b1{
    height: 100px;
}
.text{
    
    color:white;
    width: 500px;
}
.btn-1{
    display: inline-block;
    margin: 0px 0px 0px 150px;
background-color: royalblue;
color:white;
width:100px;
height: 50px;
border-radius:50px;
border:none;
}
.btn-2{
    display: inline-block;
    margin:0px 0px 150px 0px;
    right:35%;
    background-color: white;
    color:rgb(29, 29, 38);
    width:100px;
    height: 50px;
    border-radius:50px;
    border:none;
}
.content{
    color:white;
    display: inline-block;
    background-color: rgb(29, 29, 38);
   
}
.c1{
    margin: 0px 0px 0px 50px;
}
.c2{
    margin: 0px 0px 0px 50px;
}
.c3{
    margin: 0px 0px 0px 50px;
}